.App {
  text-align: center;
}

select,
textarea,
input[type="”text”"],
input[type="”password”"],
input[type="”datetime”"],
input[type="”datetime-local”"],
input[type="”date”"],
input[type="”month”"],
input[type="”time”"],
input[type="”week”"],
input[type="”number”"],
input[type="”email”"],
input[type="”url”"] {
  font-size: 16px;
  font-family: "Special Elite", cursive;
}

option {
  font-family: "Merriweather", serif;
}

button {
  cursor: pointer;
  box-shadow: 0 2.8px 2.2px rgba(000, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  width: 180px;
  height: 40px;
  margin: 20px;
  font-size: 18px;
  border-color: black;
  color: rgb(218, 255, 251);
  background-color: black;
  border-radius: 4px;
  font-family: "Merriweather", serif;
  font-weight: 700;
}

button:hover {
  background-color: rgb(218, 255, 251);
  color: black;
  border-color: rgb(218, 255, 251);
}

button[disabled] {
  background-color: red;
}

button[disabled]:hover {
  background-color: red;
  color: white;
}

.tiny {
  font-size: 10px;
}

@media screen and (min-width: 760px) {
  button {
    width: 250px;
    height: 50px;
    margin: 20px;
    font-size: 18px;
  }
}
