.App {
  text-align: center;
}

select,
textarea,
input[type="”text”"],
input[type="”password”"],
input[type="”datetime”"],
input[type="”datetime-local”"],
input[type="”date”"],
input[type="”month”"],
input[type="”time”"],
input[type="”week”"],
input[type="”number”"],
input[type="”email”"],
input[type="”url”"] {
  font-size: 16px;
  font-family: "Special Elite", cursive;
}

option {
  font-family: "Merriweather", serif;
}

button {
  width: 250px;
  height: 50px;
  margin: 20px;
  font-size: 18px;
  border-color: black;
  color: rgb(218, 255, 251);
  background-color: black;
  border-radius: 4px;
  font-family: "Merriweather", serif;
  font-weight: 700;
}

button[disabled] {
  background-color: red;
}

button[disabled]:hover {
  background-color: red;
  color: white;
}

.tiny {
  font-size: 10px;
}

@media screen and (min-width: 760px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
