.select_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select {
  width: 145px;
  margin: 3px 0 20px 0;
  border: 1px solid black;
  border-radius: 1%;
}

.navA {
  font-size: 25px;
  vertical-align: baseline;
}

form {
  margin: 30px auto 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
}

.HaikuForm__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 760px) {
  .select_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  form {
    width: 500px;
    font-size: 1.25em;
  }

  .select_box {
    margin: 0 0 35px 5px;
  }

  select {
    margin: 0 0 0 25px;
  }

  .tiny {
    margin-bottom: 50px;
  }
}
